**Can a gray one became a red one?**

In [2]:
import json
import requests
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
#try:  
#    data = pd.read_json("https://codeforces.com/api/user.ratedList?activeOnly=false")
#    ratedListAll = pd.DataFrame.from_records(data['result'])
#    ratedListAll
#except (BaseException) as e:    
#    print(e)
#    print(alink)

In [4]:
#ratedListAll

In [5]:
#ratedListAll.to_csv('ratedList_18Feb2021.csv')

In [6]:
ratedListAll=pd.read_csv('ratedList_18Feb2021.csv')

In [7]:
ratedListAll

,Unnamed: 0,lastName,country,lastOnlineTimeSeconds,city,rating,friendOfCount,titlePhoto,handle,avatar,firstName,contribution,organization,rank,maxRating,registrationTimeSeconds,maxRank,email,vkId,openId
0,0,Korotkevich,Belarus,1613668439,Gomel,3748,32510,//userpic.codeforces.com/422/title/50a270ed4a7...,tourist,//userpic.codeforces.com/422/avatar/2b5dbe87f0...,Gennady,149,ITMO University,legendary grandmaster,3783,1265987288,legendary grandmaster,NaN,NaN,NaN
1,1,NaN,Samoa,1613370972,NaN,3681,10009,//userpic.codeforces.com/19965/title/8790c1f69...,Retired_MiFaFaOvO,//userpic.codeforces.com/19965/avatar/65aa71a0...,MiFaFa,114,National University of Samoa,legendary grandmaster,3681,1306208507,legendary grandmaster,NaN,NaN,NaN
2,2,Qi,United States,1613604241,Princeton,3540,5289,//userpic.codeforces.com/312472/title/7cf0a442...,Benq,//userpic.codeforces.com/312472/avatar/5716ac6...,Benjamin,105,MIT,legendary grandmaster,3633,1435099979,legendary grandmaster,NaN,NaN,NaN
3,3,Mitrichev,Switzerland,1613670604,Zurich,3470,9878,//userpic.codeforces.com/664/title/c1ef9e749ca...,Petr,//userpic.codeforces.com/664/avatar/a113c1791c...,Petr,133,Google,legendary grandmaster,3597,1267103024,legendary grandmaster,NaN,NaN,NaN
4,4,Radecki,NaN,1612994229,NaN,3355,5939,//userpic.codeforces.com/147752/title/13dfa099...,Radewoosh,//userpic.codeforces.com/147752/avatar/a91526f...,Mateusz,161,University of Warsaw,legendary grandmaster,3527,1385208270,legendary grandmaster,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323548,323548,NaN,NaN,1577638351,NaN,-39,147,//userpic.codeforces.com/no-title.jpg,MisterMax,//userpic.codeforces.com/no-avatar.jpg,NaN,0,NaN,newbie,1405,1409073833,specialist,NaN,NaN,NaN
323549,323549,NaN,NaN,1612630193,NaN,-39,126,//userpic.codeforces.com/727941/title/ded00f60...,jh05013,//userpic.codeforces.com/727941/avatar/77b7318...,NaN,12,NaN,newbie,1708,1523433648,expert,jhztfs@gmail.com,NaN,NaN
323550,323550,NaN,NaN,1527865543,NaN,-41,64,//userpic.codeforces.com/370009/title/4da24d95...,errorerror,//userpic.codeforces.com/370009/avatar/b091784...,NaN,0,NaN,newbie,1376,1451270792,pupil,NaN,NaN,NaN
323551,323551,F.,NaN,1609439694,NaN,-44,59,//userpic.codeforces.com/760547/title/6bf3ad1c...,fourist,//userpic.codeforces.com/760547/avatar/61c81ed...,L.X.,-1,NaN,newbie,1366,1530633626,pupil,2801511863@qq.com,NaN,NaN
323552,323552,NaN,NaN,1605234168,NaN,-47,63,//userpic.codeforces.com/no-title.jpg,__123456__,//userpic.codeforces.com/no-avatar.jpg,NaN,-5,NaN,newbie,1381,1521879490,pupil,xxttyy@chacuo.net,NaN,NaN

In [8]:
redAll=ratedListAll[ratedListAll['maxRating']>=2400]

In [9]:
redAll

,Unnamed: 0,lastName,country,lastOnlineTimeSeconds,city,rating,friendOfCount,titlePhoto,handle,avatar,firstName,contribution,organization,rank,maxRating,registrationTimeSeconds,maxRank,email,vkId,openId
0,0,Korotkevich,Belarus,1613668439,Gomel,3748,32510,//userpic.codeforces.com/422/title/50a270ed4a7...,tourist,//userpic.codeforces.com/422/avatar/2b5dbe87f0...,Gennady,149,ITMO University,legendary grandmaster,3783,1265987288,legendary grandmaster,NaN,NaN,NaN
1,1,NaN,Samoa,1613370972,NaN,3681,10009,//userpic.codeforces.com/19965/title/8790c1f69...,Retired_MiFaFaOvO,//userpic.codeforces.com/19965/avatar/65aa71a0...,MiFaFa,114,National University of Samoa,legendary grandmaster,3681,1306208507,legendary grandmaster,NaN,NaN,NaN
2,2,Qi,United States,1613604241,Princeton,3540,5289,//userpic.codeforces.com/312472/title/7cf0a442...,Benq,//userpic.codeforces.com/312472/avatar/5716ac6...,Benjamin,105,MIT,legendary grandmaster,3633,1435099979,legendary grandmaster,NaN,NaN,NaN
3,3,Mitrichev,Switzerland,1613670604,Zurich,3470,9878,//userpic.codeforces.com/664/title/c1ef9e749ca...,Petr,//userpic.codeforces.com/664/avatar/a113c1791c...,Petr,133,Google,legendary grandmaster,3597,1267103024,legendary grandmaster,NaN,NaN,NaN
4,4,Radecki,NaN,1612994229,NaN,3355,5939,//userpic.codeforces.com/147752/title/13dfa099...,Radewoosh,//userpic.codeforces.com/147752/avatar/a91526f...,Mateusz,161,University of Warsaw,legendary grandmaster,3527,1385208270,legendary grandmaster,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9353,9353,NaN,NaN,1612819165,NaN,2023,60,//userpic.codeforces.com/125832/title/f0059992...,lovelymoon,//userpic.codeforces.com/125832/avatar/c3819e2...,NaN,0,NaN,candidate master,2503,1377364420,grandmaster,NaN,NaN,NaN
10195,10195,NaN,North Korea,1611824427,Pyongyang,2001,102,//userpic.codeforces.com/no-title.jpg,kutengine,//userpic.codeforces.com/no-avatar.jpg,NaN,0,KimChaek UT,candidate master,2543,1368082516,grandmaster,NaN,NaN,NaN
12973,12973,Davtyan,Switzerland,1612058438,Zurich,1944,514,//userpic.codeforces.com/345/title/6c869af645f...,Edvard,//userpic.codeforces.com/345/avatar/b5fe685881...,Edvard,12,Google,candidate master,2543,1265204399,grandmaster,NaN,NaN,NaN
15487,15487,Furko,Ukraine,1610511161,Oleksandriya,1908,304,//userpic.codeforces.com/2755/title/3d40a715f8...,Furko,//userpic.codeforces.com/2755/avatar/bbefefd38...,Roman,0,Kyiv NU,candidate master,2425,1271336204,grandmaster,NaN,NaN,NaN
126762,126762,Wu,China,1605858169,Nanjing,1390,148,//userpic.codeforces.com/80697/title/d1260d555...,King_George,//userpic.codeforces.com/80697/avatar/348b2097...,George,2,Nanjing Foreign Language School,pupil,2659,1357047884,international grandmaster,NaN,NaN,NaN

In [10]:
#alink='https://codeforces.com/api/user.rating?handle=mamaau'
#try:
#    data = pd.read_json(alink)
#    dfAll = pd.DataFrame.from_records(data['result'])
#    dfAll
#except (BaseException) as e:    
#    print(e)
#    print(alink)

In [11]:
#for j in redAll['handle']:
#    try:
#        link='https://codeforces.com/api/user.rating?handle=' + j
#        data = pd.read_json(link)
#        if data['status'][0]=='OK':
#            df = pd.DataFrame.from_records(data['result'])
#            dfAll=pd.concat([dfAll,df],ignore_index=True)
#    except (BaseException) as e:    
#        print(j)
#        #ratedListAll[ratedListAll['handle']==j][0]
#        print(e)

In [12]:
#dfAll.to_csv('ratingHistory4reds_17Feb2021.csv')

In [13]:
dfAll=pd.read_csv('ratingHistory4reds_17Feb2021.csv')
dfAll

,Unnamed: 0,contestId,contestName,handle,rank,ratingUpdateTimeSeconds,oldRating,newRating
0,0,2,Codeforces Beta Round #2,tourist,14,1267124400,0,1602
1,1,8,Codeforces Beta Round #8,tourist,5,1270748700,1602,1764
2,2,10,Codeforces Beta Round #10,tourist,18,1271353500,1764,1878
3,3,13,Codeforces Beta Round #13,tourist,11,1273161600,1878,1967
4,4,19,Codeforces Beta Round #19,tourist,2,1277398800,1967,2063
...,...,...,...,...,...,...,...,...
99598,99598,917,Codeforces Round #459 (Div. 1),King_George,402,1517243700,2008,1906
99599,99599,933,Codeforces Round #462 (Div. 1),King_George,485,1518617100,1906,1821
99600,99600,932,ICM Technex 2018 and Codeforces Round #463 (Di...,King_George,4295,1518712500,1821,1649
99601,99601,939,Codeforces Round #464 (Div. 2),King_George,3428,1518869100,1649,1505
99602,99602,940,Codeforces Round #466 (Div. 2),King_George,2353,1519472100,1505,1390

In [14]:
sMin=dfAll.groupby('handle')['newRating'].min()

In [15]:
sMax=dfAll.groupby('handle')['newRating'].max()

In [16]:
dfMin=sMin.to_frame(name="min")
dfMax=sMax.to_frame(name="max")
df1=pd.merge(dfMin,dfMax,left_index=True, right_index=True)

In [17]:
tour=dfAll.groupby('handle')['contestId'].count()

In [18]:
df1=pd.merge(df1,tour,left_index=True, right_index=True)
df1

            min   max  contestId
handle
--d        1704  2672         44
-Wave-     1403  2527         99
-XraY-     1507  3170        115
-eidolon-  1694  2455         20
-imc-      1618  2548         87
...         ...   ...        ...
zx2003     1493  3013         60
zxozxo4    1494  2434         38
zxqfl      1659  2818         64
zyb        1497  2859         21
zylber     1446  2593         20

[1622 rows x 3 columns]

In [19]:
df2 = df1[(df1['min']<1500)]
df2

                min   max  contestId
handle
-Wave-         1403  2527         99
-is-this-fft-  1444  2645        133
-skyline-      1341  2499         37
.I.            1476  2584        150
.__.           1455  2589         86
...             ...   ...        ...
ztc.           1498  2600         44
zx2003         1493  3013         60
zxozxo4        1494  2434         38
zyb            1497  2859         21
zylber         1446  2593         20

[618 rows x 3 columns]

In [26]:
df2 = df1[(df1['min']<1200) & (df1['min']>900)]
df2

                  min   max  contestId
handle
Aleks5d          1195  2683         98
Ali.Kh           1167  2600        150
Alpha_Q           999  2452        148
Arpa             1057  2679        169
Arthur           1158  2592        111
Atreus           1134  2729         99
Bench0310        1158  2502        102
CTPAX            1188  2416        136
Danylo99         1195  2482        109
Egor.Lifar       1081  2766        248
IMAN_GH          1141  2456        172
IgorI            1196  2548         88
Isouau            925  2761          6
Lusterdawn        987  2511         10
Man              1029  2416        139
Mikaeel          1190  2402        139
NikaraBika       1089  2537         91
Onjo             1154  2425        125
RedNextCentury   1170  2419        177
Shanks           1069  2676        184
Shayan           1119  2751        124
SmallBoy         1165  2462        111
Sonechko         1102  2528        209
Suiseiseki       1115  2421         36
Yousef_Salama    1126  2580        111
aarr             1139  2425         41
adamant          1187  2472        242
alireza_kaviani  1144  2643        157
andr0901         1172  2417        155
awoo              945  2661        212
bthero           1189  2546        121
danya.smelskiy   1163  2592         96
duyboy135        1098  2467        102
hitman623        1199  2473        130
interestingLSY   1182  2449         55
khokho           1072  2431        133
klimoza          1041  2434        144
kraborak         1084  2831         63
netman           1105  2625        167
okikust           970  2558         12
realcomplex      1183  2596        115
sillycross       1182  2540         19
starusc           934  2546         11
yashChandnani    1110  2796        124
zscoder          1117  2938        168

In [27]:
df2 = df2[(df2['contestId']>30)]
df2

                  min   max  contestId
handle
Aleks5d          1195  2683         98
Ali.Kh           1167  2600        150
Alpha_Q           999  2452        148
Arpa             1057  2679        169
Arthur           1158  2592        111
Atreus           1134  2729         99
Bench0310        1158  2502        102
CTPAX            1188  2416        136
Danylo99         1195  2482        109
Egor.Lifar       1081  2766        248
IMAN_GH          1141  2456        172
IgorI            1196  2548         88
Man              1029  2416        139
Mikaeel          1190  2402        139
NikaraBika       1089  2537         91
Onjo             1154  2425        125
RedNextCentury   1170  2419        177
Shanks           1069  2676        184
Shayan           1119  2751        124
SmallBoy         1165  2462        111
Sonechko         1102  2528        209
Suiseiseki       1115  2421         36
Yousef_Salama    1126  2580        111
aarr             1139  2425         41
adamant          1187  2472        242
alireza_kaviani  1144  2643        157
andr0901         1172  2417        155
awoo              945  2661        212
bthero           1189  2546        121
danya.smelskiy   1163  2592         96
duyboy135        1098  2467        102
hitman623        1199  2473        130
interestingLSY   1182  2449         55
khokho           1072  2431        133
klimoza          1041  2434        144
kraborak         1084  2831         63
netman           1105  2625        167
realcomplex      1183  2596        115
yashChandnani    1110  2796        124
zscoder          1117  2938        168

In [36]:
df3= df1[df1['max']>=3000]
df3=df3[df3['min']<1500]
df3

                 min   max  contestId  min1
handle
300iq           1219  3317        113  1200
Benq            1279  3633        111  1200
FizzyDavid      1366  3050         84  1300
HIR180          1211  3043        108  1200
Isonan          1483  3030         69  1400
Kostroma        1499  3024        211  1400
Nebuchadnezzar  1295  3014        183  1200
QAQAutoMaton    1424  3024         37  1400
SkyDec          1443  3139         57  1400
TLE             1409  3374         61  1400
TadijaSebez     1425  3035         93  1400
anta            1382  3106        130  1300
djq_cpp         1402  3055         41  1400
ecnerwala       1413  3668        112  1400
geniucos        1408  3045        110  1400
heno239         1461  3038         78  1400
ohweonfire      1300  3076         75  1300
tzuyu_chou      1253  3038         15  1200
ugly2333        1497  3011         70  1400
webmaster       1477  3203         70  1400
yutaka1999      1312  3190         47  1300
zhouyuyang      1416  3042         29  1400
zx2003          1493  3013         60  1400