<a href="https://colab.research.google.com/github/NataIss/codeforces/blob/main/Codeforces_13_LoadCFUserInfo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd

In [36]:
try:  
    data = pd.read_json("https://codeforces.com/api/user.ratedList?activeOnly=false")
    dfAll = pd.DataFrame.from_records(data['result'])
    dfAll
except (BaseException) as e:    
    print(e)
    print(alink)

In [37]:
dfAll.shape

(399067, 19)

In [38]:
dfAll['city']=dfAll['city'].fillna('Other')
dfAll['country']=dfAll['country'].fillna('Other')

In [39]:
dfAll=dfAll.drop('titlePhoto',axis=1)
dfAll=dfAll.drop('avatar',axis=1)
dfAll=dfAll.drop('email',axis=1)
dfAll=dfAll.drop('vkId',axis=1)
dfAll=dfAll.drop('openId',axis=1)

In [40]:
dfAll['regTime']=pd.to_datetime(dfAll['registrationTimeSeconds'],unit='s')
dfAll['last']=pd.to_datetime(dfAll['lastOnlineTimeSeconds'],unit='s')

In [41]:
dfAll['ind']=dfAll['regTime']

In [42]:
dfAll.set_index('ind',inplace=True)
dfAll['dayOfWeek']=dfAll.index.dayofweek
dfAll['Y']=dfAll.index.year
dfAll['M']=dfAll.index.month
dfAll['H']=dfAll.index.hour

In [43]:
dfAll.head()

                        lastName        country  ...   M   H
ind                                              ...
2010-02-12 15:08:08  Korotkevich        Belarus  ...   2  15
2015-07-27 05:21:18     Kawasaki          Japan  ...   7   5
2011-05-24 03:41:47          NaN          Samoa  ...   5   3
2015-06-23 22:52:59           Qi  United States  ...   6  22
2013-11-23 12:04:30      Radecki         Poland  ...  11  12

[5 rows x 20 columns]

In [45]:
dfAll.to_excel("AllWithDate.xlsx")