<a href="https://colab.research.google.com/github/NataIss/codeforces/blob/main/Codeforces_15_NumOfUsersByContest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import time

In [2]:
try:  
    data = pd.read_json("https://codeforces.com/api/contest.list?gym=false")
    con = pd.DataFrame.from_records(data['result'])
    con
except (BaseException) as e:    
    print(e)
con

        id  ... relativeTimeSeconds
0     1630  ...            -1112451
1     1631  ...            -1112451
2     1628  ...             -680451
3     1629  ...             -680451
4     1626  ...             -162051
...    ...  ...                 ...
1547     5  ...           373080849
1548     4  ...           373786449
1549     3  ...           374218449
1550     2  ...           375064449
1551     1  ...           375600849

[1552 rows x 8 columns]

In [13]:
con=con[(con['type']=='CF') & (con['phase']=='FINISHED')]
con

        id  ... relativeTimeSeconds
6     1625  ...              192549
8     1621  ...              961148
9     1616  ...             1389549
10    1623  ...             1483149
12    1615  ...             1825149
...    ...  ...                 ...
1524    28  ...           357446049
1525    27  ...           358050849
1526    26  ...           360210849
1531    21  ...           364451349
1533    20  ...           365306649

[1195 rows x 8 columns]

In [43]:
 link='https://codeforces.com/api/contest.ratingChanges?contestId=1625'
 data = pd.read_json(link)
 if data['status'][0]=='OK':
       dfAll = pd.DataFrame.from_records(data['result'])

In [22]:
for j in con['id']: 
    i=0
    while i<3:
        try:
            time.sleep(0.2)
            link='https://codeforces.com/api/contest.ratingChanges?contestId=' + str(j)
            data = pd.read_json(link)
            if data['status'][0]=='OK':
                df = pd.DataFrame.from_records(data['result'])
                dfAll=pd.concat([dfAll,df],ignore_index=True)
                i=i+5
                print(j) + "****"
        except (BaseException) as e:    
                time.sleep(1)
                i=i+1
                #ratedListAll[ratedListAll['handle']==j][0]
                if i==3:
                    print(j)
                    print(e)
dfAll

1625
1621
1616
1623
1615
1617
1585
1591
1608
1597
HTTP Error 400:
1609
1614
1610
1584
1588
1589
1605
1596
HTTP Error 400:
1603
1604
1601
1602
1582
1583
1586
1595
HTTP Error 400:
1594
1592
1580
1581
1572
0
1573
0
1566
1567
1556
1562
1558
1561
1563
1559
1557
1548
1549
1554
1552
1553
1544
1530
1545
1546
1543
1542
1540
1541
1539
1537
1534
1536
1523
1526
1528
1529
1527
1521
1515
1517
1516
1514
1508
1509
1513
1503
1504
1498
1483
1484
1482
1497
HTTP Error 400:
1500
1501
1495
1496
1493
1491
1492
1486
1485
1479
1480
1481
1477
1478
1474
1467
1470
1471
1466
1411
1464
1465
1458
1459
1410
HTTP Error 400:
1461
1450
1453
1415
1456
1457
1414
HTTP Error 400:
1451
1439
1440
1446
1447
1438
0
1442
1443
1441
1444
1445
1413
1434
1435
1436
1412
HTTP Error 400:
1421
1428
1427
1422
1408
1416
1417
1420
1419
1406
1407
1404
1405
1396
1397
1401
1392
1394
1395
1391
1393
1388
1383
1384
1381
1382
1379
1372
0
1375
1371
1369
1370
1368
1364
1365
1361
1362
1363
1358
1355
1349
1350
1351
HTTP Error 400:
1344
0
1345
0
1348
1340
0
1341
1336
1337
1338
1339
1333
1329
1330
1332
1326
1325
1322
1323
1316
1305
1320
1321
1319
1310
1314
1315
1313
1307
1304
1301
1299
1300
1290
1291
1292
1293
1285
1286
1287
1284
1270
1282
1268
1269
1266
1271
1280
1281
1259
1276
1277
1258
HTTP Error 400:
1264
1265
1263
1227
1261
1262
1226
HTTP Error 400:
1254
1255
1253
1242
1243
1245
1225
1246
1247
1224
HTTP Error 400:
1239
1248
1236
1237
1244
1223
0
1240
0
1241
0
1222
HTTP Error 400:
1228
1229
1230
1210
1231
1220
1215
1209
1214
1208
1204
1205
1206
1200
1201
1198
1199
1178
1195
1190
1191
1188
1189
1186
0
1179
1180
1185
1181
1182
1172
1173
1174
1148
1177
0
1168
1169
1166
1158
1159
1163
1147
1161
1162
1149
1150
1152
1146
1151
1153
1119
1142
1143
1139
1136
1137
1138
1120
0
1121
0
1112
1129
1130
1131
1109
1113
1114
1110
1111
1106
0
1103
1104
1105
1100
1098
1099
1097
1091
1085
1086
1087
1094
HTTP Error 400:
1081
1083
1084
1088
1056
1080
1061
1032
0
1078
0
1079
0
1050
HTTP Error 400:
1062
1055
1044
1074
1075
1043
1067
1068
1031
1071
1072
1049
HTTP Error 400:
1054
1063
1064
1057
HTTP Error 400:
1033
1059
1060
1030
1053
1058
1034
1047
1048
HTTP Error 400:
1042
1041
1038
1039
1040
1037
1028
1025
1023
951
1019
1020
1017
0
1012
1013
1010
1011
1007
1008
1004
997
998
995
996
991
992
993
994
989
986
987
981
982
983
984
979
980
975
925
966
967
965
963
964
960
959
924
956
957
955
923
947
948
949
950
930
931
944
929
HTTP Error 400:
936
937
928
HTTP Error 400:
940
935
939
932
933
934
922
919
917
918
914
916
0
913
912
908
909
904
906
907
910
HTTP Error 400:
905
HTTP Error 400:
901
902
899
898
900
896
897
895
894
891
892
886
0
889
0
890
0
885
HTTP Error 400:
887
0
878
879
877
875
876
870
871
872
874
HTTP Error 400:
869
868
865
866
867
864
855
862
858
HTTP Error 400:
860
0
861
0
859
857
HTTP Error 400:
853
854
850
851
848
849
842
843
844
840
841
839
835
833
834
832
830
831
827
828
823
826
HTTP Error 400:
822
819
0
820
0
821
0
815
816
814
812
811
809
810
794
799
773
806
807
804
805
793
798
772
800
801
796
788
789
786
787
771
790
791
785
770
HTTP Error 400:
781
782
780
769
HTTP Error 400:
778
779
777
776
768
767
765
766
763
764
761
0
756
759
760
758
755
757
754
750
753
HTTP Error 400:
748
752
751
HTTP Error 400:
749
747
746
744
745
743
741
742
735
736
739
740
729
737
738
728
HTTP Error 400:
734
733
725
732
731
727
726
HTTP Error 400:
724
723
722
721
718
0
719
715
716
713
714
712
0
711
708
709
707
706
704
705
703
HTTP Error 400:
700
701
698
699
696
697
689
695
693
HTTP Error 400:
687
688
685
686
682
681
679
680
677
676
675
671
672
643
673
674
670
666
667
641
668
669
663
0
664
0
662
659
639
657
658
649
647
HTTP Error 400:
648
646
HTTP Error 400:
638
HTTP Error 400:
653
645
655
644
HTTP Error 400:
637
HTTP Error 400:
650
651
631
627
634
635
633
629
626
625
623
624
621
618
617
613
614
615
611
610
607
608
605
606
603
604
601
602
599
596
597
HTTP Error 400:
594
0
595
0
593
592
590
591
587
588
585
586
584
582
583
581
580
578
579
576
577
573
574
571
572
570
568
569
567
566
562
559
560
558
557
555
556
553
554
552
551
549
550
547
548
546
545
543
544
541
542
540
538
532
533
535
536
534
526
525
529
524
527
528
523
HTTP Error 400:
522
HTTP Error 400:
520
521
519
518
515
516
514
512
510
508
507
505
506
501
504
500
498
499
496
497
494
495
493
492
490
487
488
491
HTTP Error 400:
489
486
484
HTTP Error 400:
485
HTTP Error 400:
482
483
479
480
478
476
477
474
475
472
471
468
469
467
466
464
465
463
461
462
460
459
457
458
455
456
453
454
452
451
449
450
448
446
447
444
445
442
443
436
441
439
440
HTTP Error 400:
437
438
435
433
434
431
432
429
430
427
425
426
424
419
420
421
413
412
417
418
416
414
415
407
408
405
406
404
402
403
401
400
398
0
399
0
396
0
397
0
394
0
392
0
393
0
390
0
388
389
387
385
383
384
382
386
HTTP Error 400:
380
381
379
377
378
375
376
374
0
372
373
371
370
369
367
368
366
364
365
362
363
360
361
359
358
356
357
354
355
353
351
352
350
348
349
346
347
343
344
342
340
341
339
337
338
336
326
335
333
334
332
329
330
325
328
HTTP Error 400:
327
321
322
323
HTTP Error 400:
319
320
317
318
314
315
313
311
0
312
0
305
309
308
303
304
306
HTTP Error 400:
301
0
302
0
300
293
299
297
298
292
291
HTTP Error 400:
295
296
294
288
289
286
287
285
283
284
282
280
281
279
277
278
276
274
275
272
273
271
269
270
268
266
264
265
263
261
262
267
HTTP Error 400:
257
260
258
259
256
255
254
253
251
252
250
247
248
249
246
243
244
242
238
239
237
235
236
232
233
231
229
230
228
226
227
225
223
224
222
220
221
219
217
218
216
215
213
214
208
212
HTTP Error 400:
211
209
HTTP Error 400:
204
205
203
201
202
200
198
199
196
197
195
193
194
191
192
190
0
187
189
185
0
186
183
182
0
176
181
175
164
174
173
172
0
167
168
163
169
166
165
161
159
HTTP Error 400:
160
158
HTTP Error 400:
156
157
154
155
152
150
151
149
148
145
146
144
142
143
141
140
147
HTTP Error 400:
138
139
137
135
136
132
133
134
HTTP Error 400:
131
128
129
126
127
123
124
125
HTTP Error 400:
121
122
119
0
118
117
115
116
113
114
111
112
109
110
107
108
106
105
103
104
101
102
98
0
99
0
97
95
96
93
94
91
92
89
90
87
88
86
85
83
84
82
81
79
78
77
80
74
75
73
71
70
69
68
67
66
65
63
62
61
60
59
58
57
56
55
54
53
52
HTTP Error 400:
51
50
0
49
47
43
42
41
40
37
36
35
34
33
32
31
30
29
28
27
26
21
HTTP Error 400:
20
0

         contestId  ... newRating
0             1625  ...      2203
1             1625  ...      1939
2             1625  ...      1552
3             1625  ...      1404
4             1625  ...      2202
...            ...  ...       ...
3465771         26  ...      1374
3465772         26  ...      1377
3465773         26  ...      1175
3465774         26  ...      1148
3465775         26  ...      1377

[3465776 rows x 7 columns]

In [23]:
dfAll.drop_duplicates(keep='last',subset=['handle','contestId'],inplace=True)
dfAll

         contestId  ... newRating
49199         1625  ...      2203
49200         1625  ...      1939
49201         1625  ...      1552
49202         1625  ...      1404
49203         1625  ...      2202
...            ...  ...       ...
3465771         26  ...      1374
3465772         26  ...      1377
3465773         26  ...      1175
3465774         26  ...      1148
3465775         26  ...      1377

[3416569 rows x 7 columns]

In [24]:
w=pd.DataFrame(dfAll.groupby('contestId')['rank'].count())
w.head()

           rank
contestId
26          509
27          389
28          379
29          355
30          570

In [25]:
w

            rank
contestId
26           509
27           389
28           379
29           355
30           570
...          ...
1616       14127
1617        9733
1621       15425
1623       10110
1625        9537

[1076 rows x 1 columns]

In [26]:
con.set_index('id',inplace=True)

In [27]:
res = pd.merge(con, w, how="outer",left_index=True,right_index=True)
res

                                                   name  ...     rank
20       Codeforces Alpha Round #20 (Codeforces format)  ...      NaN
21       Codeforces Alpha Round #21 (Codeforces format)  ...      NaN
26        Codeforces Beta Round #26 (Codeforces format)  ...    509.0
27    Codeforces Beta Round #27 (Codeforces format, ...  ...    389.0
28        Codeforces Beta Round #28 (Codeforces format)  ...    379.0
...                                                 ...  ...      ...
1616                        Good Bye 2021: 2022 is NEAR  ...  14127.0
1617                     Codeforces Round #761 (Div. 2)  ...   9733.0
1621                                         Hello 2022  ...  15425.0
1623                     Codeforces Round #763 (Div. 2)  ...  10110.0
1625                     Codeforces Round #765 (Div. 2)  ...   9537.0

[1195 rows x 8 columns]

In [35]:
res=res.fillna(0)
res=res[res['rank']>0]

In [36]:
res

                                                   name  ...     rank
26        Codeforces Beta Round #26 (Codeforces format)  ...    509.0
27    Codeforces Beta Round #27 (Codeforces format, ...  ...    389.0
28        Codeforces Beta Round #28 (Codeforces format)  ...    379.0
29    Codeforces Beta Round #29 (Div. 2, Codeforces ...  ...    355.0
30        Codeforces Beta Round #30 (Codeforces format)  ...    570.0
...                                                 ...  ...      ...
1616                        Good Bye 2021: 2022 is NEAR  ...  14127.0
1617                     Codeforces Round #761 (Div. 2)  ...   9733.0
1621                                         Hello 2022  ...  15425.0
1623                     Codeforces Round #763 (Div. 2)  ...  10110.0
1625                     Codeforces Round #765 (Div. 2)  ...   9537.0

[1076 rows x 8 columns]

In [37]:
res.rename(columns={'rank':'NumOfUsers'}, inplace=True)

In [38]:
res1=res[['name','startTimeSeconds','NumOfUsers']]
res1.head()

                                                 name  ...  NumOfUsers
26      Codeforces Beta Round #26 (Codeforces format)  ...       509.0
27  Codeforces Beta Round #27 (Codeforces format, ...  ...       389.0
28      Codeforces Beta Round #28 (Codeforces format)  ...       379.0
29  Codeforces Beta Round #29 (Div. 2, Codeforces ...  ...       355.0
30      Codeforces Beta Round #30 (Codeforces format)  ...       570.0

[5 rows x 3 columns]

In [41]:
res1.to_excel('NumOfUsersByContest.xlsx')